.casesInput {
  width: 100%;
  padding: 15px 10px;
  font-size: 18px;
  resize: vertical;
}

.tableRow {
  width: 100%;
}

.tableHeading,
.tableData {
  width: 50%;
  text-align: center;
}

.tableData {
  border: 1px solid #1d3557;
}

.copyButton {
  padding: 10px;
  /* margin: 0 5%; */
  font-size: 18px;
  border: none;
  background-color: #43aa8b;
  color: #fefae0;
  margin: 20px 0;
}
